*{
    margin: 0px;
    padding: 0px;
}

.relativo{
    background-color: red;
    width: 100vw;
    height: 400px;
    position: relative;
    top:20vh;
}

.relativo_item{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 40px;
    left: 10px;
    z-index: 2;
}
.relativo_itemdos{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.relativo_itemtres{
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    position: relative;
    left: 40px;
    
}
.absoluto{
    background-color: yellow;
    width: 100vw;
    height: 2000px;
    position: relative;
   
}
.absoluto_item{
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    position: absolute;
    bottom: 40px;
    right: 10px;
    z-index: 2;
}
.absoluto_itemdos{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 175px;
    left: 48vw;
    z-index: 1;
}
.absoluto_itemtres{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 40px;
    
}

.fijo{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 20vh;
    background-color: pink;
    z-index: 1000;
}
.pegajoso{
    width: 100vw;
    height: 5vh;
    background-color: purple;
   
}
.peguno{
    position: sticky;
    top:20vh;
    left: 0;
    z-index: 100;
}
.pegdos{
    position: sticky;
    top:25vh;
    left: 0;
    z-index: 200;
}
.pegtres{
    position: sticky;
    top:30vh;
    left: 0;
    z-index: 300;
}
.pegcuatro{
    position: sticky;
    top:35vh;
    left: 0;
    z-index: 400;
}

.container_pegajoso{
    width: 100vw;
    height: auto;
    background-color: aqua;
}

